<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <springProperty name="APP_NAME" source="spring.application.name"/>
    <springProperty name="LOG_PATH" source="spring.application.log.path" defalut="${HOME}/log"/>

    <property
            name="LOG_CONSOLE_PATTERN"
            value="%d{yyyy-MM-dd HH:mm:ss.SSS} %magenta([%thread]) %highlight([%-3level]) [%C{0}][%M] - %msg %n"/>

    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%-3level] [%C{0}][%M] - %msg %n" />

    <!-- Console appender 설정 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>${LOG_CONSOLE_PATTERN}</Pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${APP_NAME}/application.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>application-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <maxFileSize>50MB</maxFileSize>
            <totalSizeCap>2GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE"/>
    </appender>

    <!-- Application Loggers -->
    <logger name="kr.hs.jung.spring.example" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </logger>

<!--    <root level="INFO">-->
<!--        <appender-ref ref="CONSOLE"/>-->
<!--        <appender-ref ref="ASYNC"/>-->
<!--    </root>-->

</configuration>



